{{>header}}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{name}}</h1>
            <h3 class="lead text-muted">{{description}}</h3>
        </div>
    </section>
</main>
{{>footer}}